$card-width: 10rem;
$card-height: 5rem;
$card-bg-color: #efefe6;
$card-selected-bg-color: #5a594e;
$default-font: 'Times New Roman';

@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.ttf');
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin selected() {
    background-color: $card-selected-bg-color;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 5.5rem;
}