.card {
    background-color: #efefe6;
    text-align: center;
    padding: 2.5rem;
    border-radius: 0.5rem;
    border: none;
}

.card:hover {
    cursor: pointer;
}

.selected {
    background-color: #5a594e;
    color: #ffffff;
}