$card-width: 10rem;
$card-height: 5rem;
$card-bg-color: #efefe6;
$default-font: 'Times New Roman';

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}